.yezil-list-container {
  border: solid 1px black;
}

.yezil-list-element {
  padding: 0px 0px;
  border: solid 1px red;
  z-index: 1;
}

.yezil-list-move-button {
  border: solid 1px orangered;
  width: 25px;
  height: 25px;
  background: url(../img/bogard-50.png) no-repeat;
  cursor:pointer;
}

.yezil-list-dropdown-button {
  border: solid 1px mediumorchid;
}

.yezil-list-header {
  border: solid 1px blue;
}

.yezil-list-content {
  border: solid 1px green;
}
